name: Publish

on:
  workflow_run:
    workflows: [Dev tests]
    types:
      - completed

permissions:
  contents: read

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Publish to Space Repository
        run: mvn --batch-mode -P all -DskipTests deploy
        env:
          MAVEN_USERNAME: ${{ secrets.SPACE_USER_NAME }}
          MAVEN_PASSWORD: ${{ secrets.SPACE_REPO_PASSWORD }}
